div.table-custom-item-wrapper {
  position: relative !important;
  /* border: solid 1px red; */
  height: inherit;
}

div.table-custom-item-wrapper::before,
div.table-custom-item-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  /* background-color: black; */
  cursor: col-resize;
}

div.table-custom-item-wrapper::before {
  left: -6px;
}

div.table-custom-item-wrapper::after {
  right: -6px;
}

.rct-header-root {
  background-color: white !important;
  color: #cccccc;
}

.rct-header-root span {
  color: #cccccc;
  font-size: medium;
}
